h1{
    background-color:white;
    text-align:center;
}
.grid-container{
    display:grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns:repeat(3,1fr);
    width:80vw;
    margin:20px;
}
.grid-item{
    border-style:solid;
}
.wrapper{
    text-align:center;
}