<!-- templates/index.html -->
{% extends 'base.html' %}

{%block title %}
    Hello words!
{% endblock %}

{% block content %}
<form action = '/'>
    <p>
        Enter your keyword? <br/>
        <input type = "text" name ="name"/>
    </p>
    <p>
        <botton type="search gifs">Search</botton>
         gifs
    </p>
    <p>
        how many gifs?
        <select name = "num_gifs">
            <option value="1">one</option>
            <option value="2">two</option>
            <option value="3">three</option>
            <option value="4">four</option>
            <option value="5">five</option>
            <option value="6">six</option>
            <option value="7">seven</option>
            <option value="8">eight</option>
            <option value="9">nine</option>
            <option value="10">ten</option>

        </select>
    </p>
    <button type="submit">Search</button>
</form>
{% endblock %}





<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->
