<body background="/static/background.jpg"> <!--dog-->
    {% extends 'base.html' %}
    {% block content %}
    <form action = '/'>
        <h1>
            GIF Search Engine
        </h1>
        <p>
            <div class="wrapper">
                <input type = "text" name ="q" autofocus/>
            </div>
            <br>
            <div class="wrapper">
                <button type="submit">Search</button>
            </div>
        <p>
    </form>
    <br/>
    <div class="grid-container">
        {% for gif in gif_results %}
            {% include 'gif.html' %}
        {% endfor %}
    </div>
    ​
    {% endblock %}
    </body>